<!-- Topbar Start -->
<div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
  <div class="row gx-0">
    <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
      <span class="fw-bold animate-pulse" style="font-size: 1.1rem; letter-spacing: 0.5px; color: orange;">
        WE OFFER DIRECT BILLING
      </span>
    </div>
    <div class="col-md-6 text-center text-lg-end">
      <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
        <div class="me-3 pe-3 border-end py-2">
          <a class="m-0" href="mailto:intakeactiva@activaclinics.com" style="color: white"><i class="fa fa-envelope-open me-2"></i>intakeactiva@activaclinics.com</a>
        </div>
        <div class="py-2">
          <a class="m-0" href="tel:+1 (905) 593 - 7770" style="color: white">
            <i class="fa fa-phone-alt"></i>
            +1 (905) 593 - 7770</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
  <a href="index.html" class="navbar-brand p-0">
    <img class="img-fluid mx-auto rounded" src="img/Activa Logo.png" alt="" style="max-width: 350px"/>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-0">
      <a href="index.html" class="nav-item nav-link active">Home</a>
      <a href="about.html" class="nav-item nav-link">About</a>
      <a href="service.html" class="nav-item nav-link">Services</a>
      <a href="conditions.html" class="nav-item nav-link">Conditions</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Locations</a>
        <div class="dropdown-menu m-0">
          <a href="index.html#clinicLocation" class="dropdown-item">All</a>
          <a href="brampton.html" class="dropdown-item">Brampton</a>
          <a href="mississuaga.html" class="dropdown-item">Mississuaga</a>
          <a href="scarborough.html" class="dropdown-item">Scarborough</a>
          <a href="kitchener.html" class="dropdown-item">Kitchener</a>
          <a href="hamilton.html" class="dropdown-item">Hamilton</a>
          <a href="inhome.html" class="dropdown-item">In Home Treatment</a>
        </div>
      </div>
      <a href="blog.html" class="nav-item nav-link">Blog</a>
      <a href="contact.html" class="nav-item nav-link">Contact</a>
    </div>
    <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal">
      <i class="fa fa-search"></i>
    </button>
    <a href="index.html#appointment" class="btn btn-primary py-2 px-4 ms-3">Appointment</a>
  </div>
</nav>
<!-- Navbar End -->

<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
      <div class="modal-header border-0">
        <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center justify-content-center">
        <div class="input-group" style="max-width: 600px">
          <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword"/>
          <button class="btn btn-primary px-4">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Full Screen Search End -->
